/* /src/styles/calendar.css */

/* General Styles */
.frame-calendar {
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 10px;
  max-width: 900px;
  margin: 2rem auto;
  text-align: center;
}

.calendar-main-header {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  color: #ffb700;
  margin-bottom: 0.5rem;
}

.calendar-sub-header {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color: #d8a527;
  margin-bottom: 1.5rem;
}

.calendar-container {
  margin: 0 auto;
  max-width: 100%;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
}

.calendar-note {
  font-family: 'Oswald', sans-serif;
  font-size: 0.5rem;
  color: #d8a527;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-family: 'Oswald', sans-serif;
}

.calendar-nav {
  background: #ffb700;
  color: #ffffff;
  border: none;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  margin: 0 0.5rem;
  width: auto;
  height: auto;
}

.calendar-nav:hover {
  background: #d8a527;
}

.calendar-nav:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

.calendar-selectors {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}

.month-selector,
.year-selector {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 0.3rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.month-selector {
  min-width: 120px;
}

.year-selector {
  min-width: 80px;
}

.events-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.event {
  background-color: #f7f7f7;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 250px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.event:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.event-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.event-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-details {
  padding: 0.5rem;
}

.event-name {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  color: #383838;
}

.event-date-time,
.event-location {
  font-size: 0.9rem;
  color: #555;
  margin: 0.25rem 0;
}

/* Styles for Past Events */
.past-event {
  background-color: #e0e0e0; 
  color: #999; 
}

.past-event .event-name,
.past-event .event-date-time,
.past-event .event-location {
  text-decoration: line-through; 
}

.no-events {
  text-align: center;
}

.palm-trees {
  font-size: 2rem;
  margin-top: 1rem;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  text-align: center;
}

.modal-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
}

.close-button:hover {
  color: #ff0000;
}

@media (max-width: 600px) {
  .calendar-selectors {
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 0.5rem 0; 
  }

  .month-selector,
  .year-selector,
  .calendar-nav {
    flex: 1 1 auto; 
    margin: 0.2rem; 
    width: auto; 
    max-width: 100px; 
    font-size: 0.9rem; 
    padding: 0.3rem; 
  }

  .calendar-nav {
    font-size: 0.9rem; 
    padding: 0.3rem 0.5rem; 
    border-radius: 5px; 
  }

  .calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150%; 
  }

  .calendar-header {
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center;
    margin: 1rem 0;
  }

  .events-grid {
    gap: 0.5rem;
    justify-content: center;
  }

  .event {
    width: calc(100% - 1rem); 
    margin: 0.5rem 0;
  }

  .event-image-container {
    height: 200px; 
  }

  .event-image {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
  }
}
