.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #ffb700;
}

.logo-container {
  display: flex;
  align-items: center;
}

.rectangle {
  height: 50px;
  width: 50px;
  margin-right: 0.5rem;
}

.organization-name {
  font-family: 'Oswald', sans-serif;
  font-size: 0.9rem;
  color: #ffb700;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin: 0 1rem;
  font-family: 'Oswald', sans-serif;
  color: #ffb700;
  text-decoration: none;
}

.nav-links a:hover {
  color: #d8a527;
}

@media (max-width: 600px) {
  .navbar {
    justify-content: center;
    flex-direction: column;
  }

  .menu-icon {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .logo-container {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-links.show {
    display: flex;
  }
}
