/* Base styles for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem; 
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 1rem; 
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 2rem; 
  color: #ffb700;
}

.logo-container {
  display: flex;
  align-items: center;
}

.rectangle {
  height: 50px;
  width: 50px;
  margin-right: 0.5rem;
}

.organization-name {
  font-family: 'Oswald', sans-serif;
  font-size: 0.9rem;
  color: #ffb700;
  text-decoration: none; 
  margin-left: 0.5rem; 
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin: 0 1rem;
  font-family: 'Oswald', sans-serif;
  color: #ffb700;
  text-decoration: none;
  padding: 0.3rem 0.8rem; 
  transition: background 0.3s, color 0.3s; 
}

.nav-links a:hover {
  background: #ffb700; 
  color: #ffffff; 
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5rem 1rem; 
  }

  .menu-icon {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .logo-container {
    flex-direction: column;
    text-align: center;
    margin-top: 5px; 
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px; 
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links a {
    padding: 0.5rem 0; 
    width: 100%; 
  }
}
